.form-input.shaded
  .flex.row
    .column.x-33
      label(for="grid-export") Export
    .column.x-66
      select(id="grid-export", ng-model="exportType", ng-change="updateExport()")
        option(value="cssFG") CSS Color
        option(value="cssBG") CSS Background Color
        option(value="scss") SCSS variables
        option(value="sass") Sass variables
        option(value="stylus") Stylus variables
.form-input
  textarea.dim.mono {{exportData}}
