section

  .form-input
    label(for="lightness") Lightness
    | &nbsp;&middot;&nbsp;
    label(for="chromaticity") Chromaticity
    | &nbsp;&middot;&nbsp;
    label(for="hue") Hue
  .form-input.shaded
    .flex.row
      .column
        input.text-right.mono(type="text", id="lightness", ng-model="anchor.color.lch.l", ng-change="grid.update()")
      .column
        input.text-right.mono(type="text", id="chromaticity", ng-model="anchor.color.lch.c", ng-change="grid.update()")
      .column
        input.text-right.mono(type="text", id="hue", ng-model="anchor.color.lch.h", ng-change="grid.update()")
  .form-input.shaded
    input(type="range", min="0", max="100", step="0.001", ng-model="anchor.color.lch.l", ng-change="grid.update()")
  .form-input.shaded
    input(type="range", min="0", max="100", step="0.001", ng-model="anchor.color.lch.c", ng-change="grid.update()")
  .form-input.shaded
    input(type="range", min="0", max="360", ng-model="anchor.color.lch.h", ng-change="grid.update()")

hr 

section
  .form-input.shaded
    .flex.row
      .column.x-33
        label Colors
      .column.x-33
        input(type="range", min="1", max="16", ng-model="spectrum.range", ng-change="grid.update()")
      .column.x-33
        input.text-right.mono(type="text", ng-model="spectrum.range", ng-change="grid.update()")
  .form-input.shaded
    .flex.row
      .column.x-33
        label Rows
      .column.x-33
        input(type="range", min="1", max="16", ng-model="grid.rows", ng-change="grid.update()")
      .column.x-33
        input.text-right.mono(type="text", ng-model="grid.rows", ng-change="grid.update()")

hr

section
  grid-export(grid="grid")
