doctype 5
html(lang="en", ng-app="clutch")
  head
    title Clutch
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", type="text/css", href="css/gooey.css")
  body
    block content

    if (ENV.dev)
      script(src="js/clutch.js")
    else if (ENV.stage)
      script(src="js/clutch.min.js")
    else if (ENV.prod)
      script(src="js/clutch.min.js")
      script(type="text/javascript", src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js", data-token="15aa5a13618045058401badc03bfe53f")
