extends _layout

block content

  article(ng-controller="UICtrl")

    #palette
      section(ng-if="UI.selected == 'color'", ng-controller="ColorCtrl")
        #anchor(ng-style="anchor.styles")
      section#spectrum(ng-if="UI.selected == 'spectrum'", ng-controller="SpectrumCtrl")
        .spec(ng-repeat="color in spectrum.colors", ng-style="color.styles.bg", title="color.hex")


    //- would like to make this responsive one day, based on landscape v. portrait
    section#ui.group
      ul.tabs
        li(ng-repeat="section in UI.sections", ng-class="{selected:section.slug == UI.selected}", ng-click="UI.select(section.slug)")
          {{section.name}}

      form.group(ng-if="UI.selected == 'color'")
        .form-input
          label Lightness {{anchor.color.lch.l}}
          br
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.l")
        .form-input
          label Chromaticity {{anchor.color.lch.c}}
          br
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.c")
        .form-input
          label Hue {{anchor.color.lch.h}}
          br
          input(type="range", min="0", max="360", ng-model="anchor.color.lch.h")

      form.ui-(ng-if="UI.selected == 'spectrum'")
        .form-input
          label Lightness {{anchor.color.lch.l}}
          br
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.l")
        .form-input
          label Chromaticity {{anchor.color.lch.c}}
          br
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.c")
        .form-input
          label Hue {{anchor.color.lch.h}}
          br
          input(type="range", min="0", max="360", ng-model="anchor.color.lch.h")
        .form-input
          label Range {{spectrum.range}}
          br
          input(type="range", min="2", max="36", ng-model="spectrum.range")

      form.ui-(ng-if="UI.selected == 'grid'")
        h1 Grid


