extends _layout

block content

  article(ng-controller="ColorCtrl")
    section
      #anchor(ng-style="anchor.styles")

    section#ui.group(ng-controller="UICtrl")
      section.column.x-25
        ul.tabs
          li(ng-repeat="section in sections", ng-class="{selected:section.slug == selected}", ng-click="select(section.slug)")
            {{section.name}}
      section.column.x-75
        form.group(ng-show="selected == 'color'")
          .col.x-33
            label Lightness {{anchor.color.lch.l}}
            br
            input(type="range", min="0", max="100", ng-model="anchor.color.lch.l")
          .col.x-33
            label Chromaticity {{anchor.color.lch.c}}
            br
            input(type="range", min="0", max="100", ng-model="anchor.color.lch.c")
          .col.x-33
            label Hue {{anchor.color.lch.h}}
            br
            input(type="range", min="0", max="360", ng-model="anchor.color.lch.h")

        form.ui-(ng-show="selected == 'spectrum'")
          h1 Spectrum
        form.ui-(ng-show="selected == 'grid'")
          h1 Grid


