extends _layout

block content

  article#clutch(ng-controller="UICtrl", ng-style="UI.styles.clutch()")

    #palette
      section(ng-if="UI.selected == 'color'", ng-controller="ColorCtrl")
        #anchor(ng-style="anchor.styles")
      section#spectrum(ng-if="UI.selected == 'spectrum'", ng-controller="SpectrumCtrl")
        .spec(ng-repeat="color in spectrum.colors", ng-style="color.styles.bg", title="color.hex", ng-class="{ anchor: color.hex == anchor.color.hex }")


    //- would like to make this responsive one day, based on landscape v. portrait
    section#ui.group

      .radio-buttons
        label.radio-button(ng-class="{selected:UI.styles.background == 'black'}") Black
          input(type="radio", name="bg", value="black", ng-model="UI.styles.background")
        label.radio-button(ng-class="{selected:UI.styles.background == 'color'}") Color
          input(type="radio", name="bg", value="color", ng-model="UI.styles.background")
        label.radio-button(ng-class="{selected:UI.styles.background == 'white'}") White
          input(type="radio", name="bg", value="white", ng-model="UI.styles.background")

      ul.tabs
        li.tab(ng-repeat="section in UI.sections", ng-class="{selected:section.slug == UI.selected}", ng-click="UI.select(section.slug)")
          {{section.name}}

      form.group(ng-if="UI.selected == 'color'")
        include ./ui/color.jade

      form.group(ng-if="UI.selected == 'spectrum'")
        include ./ui/spectrum.jade

      form.group(ng-if="UI.selected == 'grid'")
        h1 Grid

      footer.group.text-center
        hr
        h1 clutch
        p
          small
            | &copy;&nbsp;
            a(href="http://www.loudbit.com/") Loud Bit LLC
            |, 2014
