extends _layout

block content

  article#clutch(ng-controller="UICtrl", ng-style="UI.styles.clutch()", ng-cloak, ng-class="{fullscreen:fullscreen}")

    #palette
      section(ng-if="UI.generator == 'color'", ng-controller="ColorCtrl")
        #anchor.color(title="{{anchor.color.hex}}", ng-style="anchor.styles")
      section#spectrum(ng-if="UI.generator == 'spectrum'", ng-controller="SpectrumCtrl")
        .color(title="{{spectrum.colors[$index].hex}}", ng-repeat="color in spectrum.colors", ng-style="color.styles.bg", ng-class="{ anchor: color.hex == anchor.color.hex }")
      section#spectrum(ng-if="UI.generator == 'grid'", ng-controller="GridCtrl")
        .row(ng-repeat="row in grid.colors")
          .color(title="{{row[$index].hex}}", ng-repeat="color in row", ng-style="color.styles.bg", ng-class="{ anchor: color.hex == anchor.color.hex }")

    section#ui
      .form-input
        label(for="background") Background
        select#background(ng-model="UI.styles.background")
          option(value="black") Black
          option(value="color") Color
          option(value="white") White
      .form-input
        label(for="background") Generator
        select#background(ng-model="UI.generator", ng-options="generator.slug as generator.name for generator in UI.generators")

      hr
        
      form(ng-if="UI.generator == 'color'")
        include ./ui/color.jade

      form(ng-if="UI.generator == 'spectrum'")
        include ./ui/spectrum.jade

      form(ng-if="UI.generator == 'grid'")
        include ./ui/grid.jade

      footer.text-center
        hr
        h1 clutch
        p
          small
            | &copy;&nbsp;
            a(href="http://www.loudbit.com/") Loud Bit LLC
            |, 2014&ndash;2016
            | &middot;&nbsp;
            a(href="https://twitter.com/loudbit") @loudbit
