extends _layout

block content

  article#clutch(ng-controller="UICtrl", ng-style="UI.styles.clutch()", ng-cloak, ng-class="{fullscreen:fullscreen}")

    #palette
      section(ng-if="UI.selected == 'color'", ng-controller="ColorCtrl")
        #anchor.color(ng-style="anchor.styles")
      section#spectrum(ng-if="UI.selected == 'spectrum'", ng-controller="SpectrumCtrl")
        .color(ng-repeat="color in spectrum.colors", ng-style="color.styles.bg", title="color.hex", ng-class="{ anchor: color.hex == anchor.color.hex }")
      section#spectrum(ng-if="UI.selected == 'grid'", ng-controller="GridCtrl")
        .row(ng-repeat="row in grid.colors")
          .color(ng-repeat="color in row", ng-style="color.styles.bg", title="color.hex", ng-class="{ anchor: color.hex == anchor.color.hex }")


    //- would like to make this responsive one day, based on landscape v. portrait
    section#ui.group

      .group
        .form-input
          select(ng-model="UI.styles.background")
            option(value="black") Black
            option(value="color") Color
            option(value="white") White


      ul.tabs
        li.tab(ng-repeat="section in UI.sections", ng-class="{selected:section.slug == UI.selected}", ng-click="UI.select(section.slug)")
          {{section.name}}

      form.group(ng-if="UI.selected == 'color'")
        include ./ui/color.jade

      form.group(ng-if="UI.selected == 'spectrum'")
        include ./ui/spectrum.jade

      form.group(ng-if="UI.selected == 'grid'")
        include ./ui/grid.jade

      footer.group.text-center
        hr
        h1 clutch
        p
          small
            | &copy;&nbsp;
            a(href="http://www.loudbit.com/") Loud Bit LLC
            |, 2014&ndash;2016
            | &middot;&nbsp;
            a(href="https://twitter.com/loudbit") @loudbit
