extends _layout

block content

  article#clutch(ng-controller="UICtrl", ng-style="UI.styles.clutch()")

    #palette
      section(ng-if="UI.selected == 'color'", ng-controller="ColorCtrl")
        #anchor(ng-style="anchor.styles")
      section#spectrum(ng-if="UI.selected == 'spectrum'", ng-controller="SpectrumCtrl")
        .spec(ng-repeat="color in spectrum.colors", ng-style="color.styles.bg", title="color.hex", ng-class="{ anchor: color.hex == anchor.color.hex }")


    //- would like to make this responsive one day, based on landscape v. portrait
    section#ui.group

      .radio-buttons
        label.radio-button(ng-class="{selected:UI.styles.background == 'black'}") Black
          input(type="radio", name="bg", value="black", ng-model="UI.styles.background")
        label.radio-button(ng-class="{selected:UI.styles.background == 'color'}") Color
          input(type="radio", name="bg", value="color", ng-model="UI.styles.background")
        label.radio-button(ng-class="{selected:UI.styles.background == 'white'}") White
          input(type="radio", name="bg", value="white", ng-model="UI.styles.background")

      ul.tabs
        li.tab(ng-repeat="section in UI.sections", ng-class="{selected:section.slug == UI.selected}", ng-click="UI.select(section.slug)")
          {{section.name}}

      form.group(ng-if="UI.selected == 'color'")

        section.group
          .form-input
            label.group
              b.col.x-75 Lightness
              .col.x-25.text-right {{anchor.color.lch.l | toFixed:3}}
            input(type="range", min="0", max="100", step="0.001", ng-model="anchor.color.lch.l", ng-change="anchor.updateLch()")
          .form-input
            label.group
              b.col.x-75 Chromaticity
              .col.x-25.text-right {{anchor.color.lch.c | toFixed:3}}
            input(type="range", min="0", max="100", step="0.001", ng-model="anchor.color.lch.c", ng-change="anchor.updateLch()")
          .form-input
            label.group
              b.col.x-75 Hue
              .col.x-25.text-right {{anchor.color.lch.h}}
            input(type="range", min="0", max="360", ng-model="anchor.color.lch.h", ng-change="anchor.updateLch()")

        hr

        section.group
          .form-input
            label.row
              b.col.x-75 Red
              .col.x-25.text-right {{anchor.color.rgb.r}}
            input(type="range", min="0", max="255", ng-model="anchor.color.rgb.r", ng-change="anchor.updateRGB()")
          .form-input
            label.group
              b.col.x-75 Green
              .col.x-25.text-right {{anchor.color.rgb.g}}
            input(type="range", min="0", max="255", ng-model="anchor.color.rgb.g", ng-change="anchor.updateRGB()")
          .form-input
            label.group
              b.col.x-75 Blue
              .col.x-25.text-right {{anchor.color.rgb.b}}
            input(type="range", min="0", max="255", ng-model="anchor.color.rgb.b", ng-change="anchor.updateRGB()")
          .form-input
            .col.x-50
              span RGB Hex
            .col.r.x-50.text-right
              input.text-right.mono(type="text", ng-model="anchor.color.hex", ng-change="anchor.updateHex(anchor.color.hex)")


      form.group(ng-if="UI.selected == 'spectrum'")
        .form-input
          label.group
            .col.x-75 Lightness
            .col.x-25.text-right {{anchor.color.lch.l | toFixed:3}}
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.l", ng-change="spectrum.update()")
        .form-input
          label.group
            .col.x-75 Chromaticity
            .col.x-25.text-right {{anchor.color.lch.c | toFixed:3}}
          input(type="range", min="0", max="100", ng-model="anchor.color.lch.c", ng-change="spectrum.update()")
        .form-input
          label.group
            .col.x-75 Hue
            .col.x-25.text-right {{anchor.color.lch.h}}
          input(type="range", min="0", max="360", ng-model="anchor.color.lch.h", ng-change="spectrum.update()")
        .form-input
          label.group
            .col.x-75 Range
            .col.x-25.text-right {{spectrum.range}}
          input(type="range", min="2", max="16", ng-model="spectrum.range", ng-change="spectrum.update()")

      form.group(ng-if="UI.selected == 'grid'")
        h1 Grid

