$base: 4px;

$heading-font-family: "Avenir Next", "Avenir", Verdana, sans-serif;
$copy-font-family: "Avenir Next", "Avenir", Verdana, sans-serif;

$title-font-size: 36px;
$heading-font-size: 24px;
$subheading-font-size: 20px;
$lead-font-size: 18px;
$copy-font-size: 14px;
$small-font-size: 12px;
$tiny-font-size: 10px;

$small-line-height: $small-font-size * 1.5;      // 18px
$copy-line-height: $copy-font-size * 1.5;       // 21px
$title-line-height: $copy-line-height * 2;       // 42px
$heading-line-height: $heading-font-size * 1.3333; // 32px
$subheading-line-height: $copy-line-height * 1;       // 21px
$input-line-height: $small-font-size * 2;        // 24px

@import "./normalize";
@import "./buttons";
@import "./select";
@import "./layout";
@import "./forms";
@import "./typography";
