
article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
.ui { box-sizing: border-box; }

.ui.row {
  display: flex;
  flex-direction: row;
  // align-items: stretch
  padding: 0 !important;  // NOTE: for overriding inkline
  margin: 0 !important;  // NOTE: for overriding inkline
}
// .ui.row.padded:first-child { padding-top: 0; }
// .ui.row.padded:last-child { padding-bottom: 0; }
// .ui.row.padded + .ui.row.padded { padding: 2px 0; }


.ui.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 0 !important;  // NOTE: for overriding inkline
  margin: 0 !important;  // NOTE: for overriding inkline
}
// .ui.column.padded:first-child { padding-left: 0; }
// .ui.column.padded:last-child { padding-right: 0; }
// .ui.column.padded + .ui.column.padded { padding: 0 2px; }


.ui-text-right {
  text-align: right;
}

.ui.button {
  background: rgba(black, 0.5) linear-gradient(rgba(black, 0), rgba(black, 0.1));
  border: none;
  border-radius: 3px;
  color: rgba(white, 0.8);
  box-shadow: inset 0 -1px 1px rgba(black, 0.5), inset 0 1px 1px rgba(white, 0.2);
  padding: 3px;
}


.x-25 { width: 25% }
.x-33 { width: 33.333% }
.x-66 { width: 66.666% }
.x-75 { width: 75% }


// TODO: Forms
// .layout-aside-children input {
//   background: rgba(#121212, 0.2);
//   border: 1px solid rgba(#121212, 0.8);
//   border-radius: 2px;
//   color: #d0d0d0;
//   width: 100%;
//   padding: 4px 8px;
//   font-size: 14px;
// }
