// DELETE THIS SHIT AND CREATE A PROPER COLOR FILE BASED ON ACTUAL CLUTCH COLORS

// Don't use these without a damn good reason
full-black = #000;
bright-white = #fff;

white = #959595;
black = #1a1a1a;

// red
redBright = #fff1ea
redShine = #be8882
redLight = #7e4d48
red = #582b28
redDark = #411816
redDarker = #340c06
redShadow = #2d0300
redVoid = #260000


// orange
orangeBright = #fff6d9
orangeShine = #b58d73
orangeLight = #75523a
orange = #50311b
orangeDark = #3a1e05
orangeDarker = #2f1200
orangeShadow = #290900
orangeVoid = #220000


// yellow
yellowBright = #fffdd2
yellowShine = #a4946d
yellowLight = #665934
yellow = #423715
yellowDark = #2e2400
yellowDarker = #251800
yellowShadow = #201100
yellowVoid = #160000


// olive
oliveBright = #f8ffd8
oliveShine = #8e9a72
oliveLight = #535e39
olive = #313c19
oliveDark = #1e2903
oliveDarker = #151d00
oliveShadow = #0d1700
oliveVoid = #000700


// green
greenBright = #dfffe8
greenShine = #779f80
greenLight = #3d6247
green = #1b3f26
greenDark = #052b14
greenDarker = #002004
greenShadow = #001a00
greenVoid = #000e00


// teal
tealBright = #cbfffe
tealShine = #62a195
tealLight = #246459
teal = #004138
tealDark = #002d24
tealDarker = #002119
tealShadow = #001c12
tealVoid = #001100


// cyan
cyanBright = #c3ffff
cyanShine = #59a0a9
cyanLight = #10636c
cyan = #004149
cyanDark = #002c35
cyanDarker = #002128
cyanShadow = #001b21
cyanVoid = #001016


// blue
blueBright = #e6ffff
blueShine = #7c97be
blueLight = #3f5c7f
blue = #193a5b
blueDark = #002745
blueDarker = #001b38
blueShadow = #001431
blueVoid = #000225


// purple
purpleBright = #fff3ff
purpleShine = #b08aaa
purpleLight = #714f6d
purple = #4d2d4a
purpleDark = #381a35
purpleDarker = #2c0e29
purpleShadow = #250522
purpleVoid = #1c0017


// magenta
magentaBright = #ffefff
magentaShine = #bd8796
magentaLight = #7d4c5b
magenta = #572a39
magentaDark = #411626
magentaDarker = #34091a
magentaShadow = #2c0113
magentaVoid = #250001


// grey
greyBright = #ffffff
greyShine = #959595
greyLight = #5a5a5a
grey = #383838
greyDark = #252525
greyDarker = #1a1a1a
greyShadow = #121212
greyVoid = #000000


// warmGrey
warmGreyBright = #fffef6
warmGreyShine = #9b948d
warmGreyLight = #5f5952
warmGrey = #3d3731
warmGreyDark = #29241e
warmGreyDarker = #1e1913
warmGreyShadow = #181109
warmGreyVoid = #090000


// coolGrey
coolGreyBright = #f6ffff
coolGreyShine = #8d979d
coolGreyLight = #525b61
coolGrey = #303a3f
coolGreyDark = #1d262b
coolGreyDarker = #121b1f
coolGreyShadow = #091418
coolGreyVoid = #00020a


// grey
greyBright = #ffffff
greyShine = #959595
greyLight = #5a5a5a
grey = #383838
greyDark = #252525
greyDarker = #1a1a1a
greyShadow = #121212
greyVoid = #000000


