base = 4px;

heading-font-family = "American Typewriter", serif;
copy-font-family = "Avenir Next", "Avenir", Verdana, sans-serif;

// heading-font-family = "Archer", sans-serif;
// copy-font-family = "Gotham", sans-serif;

// heading-font-family = "Verdana", sans-serif;
// copy-font-family = "Georgia", serif;

// heading-font-family = sans-serif;
// copy-font-family = serif;

// heading-font-family = serif;
// copy-font-family = sans-serif;


// title-font-size      = 48px;
// heading-font-size    = 36px;
// subheading-font-size = 24px;
// lead-font-size       = 18px;
// copy-font-size       = 16px;
// small-font-size      = 14px;
// tiny-font-size       = 10px;

title-font-size      = 36px;
heading-font-size    = 24px;
subheading-font-size = 20px;
lead-font-size       = 18px;
copy-font-size       = 16px;
small-font-size      = 12px;
tiny-font-size       = 10px;

copy-line-height = copy-font-size * 1.5;
title-line-height = copy-line-height * 2;
heading-line-height = copy-line-height * 2;
subheading-line-height = copy-line-height * 1;



.x { min-width: base; }
.y { min-height: base; }

// Percentage based heights and widths
.x-0   { width: 0%; }
.x-5   { width: 5%; }
.x-10  { width: 10%; }
.x-25  { width: 25%; }
.x-33  { width: 33%; }
.x-50  { width: 50%; }
.x-66  { width: 66%; }
.x-75  { width: 75%; }
.x-90  { width: 90%; }
.x-95  { width: 95%; }
.x-100 { width: 100%; }

.y-0   { height: 0%; }
.y-5   { height: 5%; }
.y-10  { height: 10%; }
.y-25  { height: 25%; }
.y-33  { height: 33%; }
.y-50  { height: 50%; }
.y-66  { height: 66%; }
.y-75  { height: 75%; }
.y-90  { height: 90%; }
.y-95  { height: 95%; }
.y-100 { height: 100%; }


// Pixel based heights and widths
// .x-base   { width: base; }
// .x-12px   { width: 12px; }
// .x-320px  { width: 320px; }
// .x-480px  { width: 480px; }
// .x-512px  { width: 512px; }
// .x-568px  { width: 568px; }
// .x-768px  { width: 768px; }
// .x-960px  { width: 960px; }
// .x-1024px { width: 1024px; }
// .x-1140px { width: 1140px; }
// .x-1280px { width: 1280px; }

// .y-base   { height: base; }
// .y-12px   { height: 12px; }
// .y-320px  { height: 320px; }
// .y-480px  { height: 480px; }
// .y-512px  { height: 512px; }
// .y-568px  { height: 568px; }
// .y-768px  { height: 768px; }
// .y-960px  { height: 960px; }
// .y-1024px { height: 1024px; }
// .y-1140px { height: 1140px; }
// .y-1280px { height: 1280px; }

.x-4    { width: 4px; }
.x-8    { width: 8px; }
.x-16   { width: 16px; }
.x-32   { width: 32px; }
.x-64   { width: 64px; }
.x-128  { width: 128px; }
.x-256  { width: 256px; }
.x-512  { width: 512px; }
.x-1024 { width: 1024px; }
.x-2048 { width: 2048px; }

.y-4    { height: 4px; }
.y-8    { height: 8px; }
.y-16   { height: 16px; }
.y-32   { height: 32px; }
.y-64   { height: 64px; }
.y-128  { height: 128px; }
.y-256  { height: 256px; }
.y-512  { height: 512px; }
.y-1024 { height: 1024px; }
.y-2048 { height: 2048px; }

// em based heights and widths
.x-0.5em  { width: copy-line-height/2; }
.x-1em    { width: copy-line-height; }
.x-2em    { width: copy-line-height*2; }

.y-0.5em  { height: copy-line-height/2; }
.y-1em    { height: copy-line-height; }
.y-2em    { height: copy-line-height*2; }

// push/pull
.push-5   { margin-left: 5%; }
.push-10  { margin-left: 10%; }
.push-25  { margin-left: 25%; }
.push-33  { margin-left: 33%; }
.push-50  { margin-left: 50%; }
.push-66  { margin-left: 66%; }
.push-75  { margin-left: 75%; }
.push-90  { margin-left: 90%; }
.push-95  { margin-left: 95%; }
.push-100 { margin-left: 100%; }

.pull-5   { margin-left: -5%; }
.pull-10  { margin-left: -10%; }
.pull-25  { margin-left: -25%; }
.pull-33  { margin-left: -33%; }
.pull-50  { margin-left: -50%; }
.pull-66  { margin-left: -66%; }
.pull-75  { margin-left: -75%; }
.pull-90  { margin-left: -90%; }
.pull-95  { margin-left: -95%; }
.pull-100 { margin-left: -100%; }

// edging - should go elsewhere
.round { border-radius: 1024px; }
