// Flexbox

// containers
.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 0 1 auto;
}

// rows
.flex.row {
  flex-direction: row;
  align-items: center;
}

.flex.row > .column {
  padding: 0 (copy-line-height/8);
}
.flex.row > .column:first-child {
  padding-left: 0;
}
.flex.row > .column:last-child {
  padding-right: 0;
}

// columns
.flex.column {
  flex-direction: column;
}
