input {
  width: auto;
}

form,
input[type="text"],
input[type="range"]  {
  width: 100%;
}

.form-input {
  padding: (copy-line-height/2);
}

// .form-input label {
//   padding: (copy-line-height/2);
// }
