@import "normalize";

@import "colors";

@import "dimensions";
@import "structure";
@import "flex";
@import "typography";

@import "buttons";
// @import "app-bar";

* { box-sizing: border-box; }

body {
  background: #121212;
  color: #ccc;


  -webkit-background-size: 100% copy-line-height;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #121212;
  background-image: linear-gradient(#333 0px, #333 1px, #121212 1px, #121212 2px);
  background-origin: padding-box;
  background-size: 100% copy-line-height;
  // background-size: 100% (copy-line-height/2);
}

a { color: blue; }

small { opacity: 0.75; }
