@import "normalize";

@import "dimensions";
@import "structure";
@import "flex";
@import "typography";
@import "forms";

@import "ui";
@import "tabs";
@import "radio-buttons";

* { box-sizing: border-box; }

body {
  background: #000;
  color: #ccc;
}

a { color: blue; }

small { opacity: 0.75; }

