base = 4px;
gutter = base * 4;


// Basic group/column/element structure
.group        { clear: both; }
.group:after  { content:''; display: table; clear: both; }

.column, .col { float: left; }
.col.l, .column.left { float: left; }
.col.r, .column.right { float: right; }

.element, .el { position: relative; }
.el.padded, .element.padded             { margin:       0 gutter; }
.el.padded, .element.padded:first-child { margin-left:  base; }
.el.padded, .element.padded:last-child  { margin-right: base; }

.el.padded-y, .element.padded-y             { margin-top: gutter; margin-bottom: gutter }
.el.padded-y, .element.padded-y:first-child { margin-top:  base; }
.el.padded-y, .element.padded-y:last-child  { margin-bottom: base; }

.pillar { margin-right: auto; margin-left: auto; float: none; }
.iblock  { display: inline-block; }


// Table Grid structure
.table      { display: inline-table; }
.table-row  { display: table-row; }
.table-cell { display: table-cell; }


// absolute
.abs        { position: absolute; }
.abs.left   { left: 0; }
.abs.right  { right: 0; }

